<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h6 {
            font-size: 15px
        }

        .h2-text {
            color: darkred
        }

        .h6-text {
            color: yellowgreen
        }

        #h1-text {
            font-size: 50px
        }

    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h6-text">H6 text</h6>
    <p>Приветствую Вас, <span style="color: green">дорогие друзья</span>, на моей странице!</p>
    <a href="https://learngitbranching.js.org/" target="_blank">Git learn</a>
    <img alt="gitgame.png" src="https://stepik.org/static/frontend/learning/header-img-evening.png" style="width: 250px">
    <ul>
        <li>Элемент1</li>
        <li>Элемент2</li>
        <li>Элемент3</li>
    </ul>
    <ol>
        <li>Элемент1</li>
        <li>Элемент2</li>
        <li>Элемент3</li>
    </ol>
</div>
</body>
</html>